.info-container {
  background-color: #d6e4ff;
  border-radius: 25px;
}

input {
  background-color: #c5d7fd;
  border: 1px solid;
}

mat-select {
  background-color: #c5d7fd;
  border: 1px solid;
}

.underline:hover {
  text-decoration: underline;
  background-color: #c5d7fd;
}

.img-wrap {
  position: relative;
}

.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
}
