.form-group {
  display: inline-flex;
  width: 100%;
}

.form-group label {
  text-align: end;
  padding-right: 1em;
}

.form-spacer {
  padding: 1em;
}

.underline:hover {
  text-decoration: underline;
  background-color: #c5d7fd;
}

.img-wrap {
  position: relative;
}

.img-wrap .close {
  position: absolute;
  top: 2px;
  right: 2px;
  z-index: 100;
}
