<div class="container">
  <div class="row my-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="'/'">Pagrindinis</a></li>
        <li class="breadcrumb-item"><a [routerLink]="'/tools'">Įrankiai</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ tool.name }}</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 d-flex align-items-center">
      <img class="img-thumbnail" src="{{tool.imageContent && tool.imageContent[0] ? tool.imageContent[0] : 'assets/images/placeholder-image.png'}}"
        alt="No image provided">
    </div>
    <div class="col-12 col-sm-6 bg-light p-3 ">
      <h1>{{ tool.name }}</h1>

      <div class="row">
        <div class="col-2 display-6"><em class="bi bi-person-circle"></em></div>
        <div class="col-4 fs-4 p-1">@{{ tool.owner.name }}</div>
      </div>

      <ul class="list-group list-group-flush fs-5 mt-4">
        <li class="list-group-item">
          Nuoma <strong>1 val.</strong>
          <span class="float-end"><strong>{{ tool.hourlyPrice }}</strong> €</span>
        </li>
        <li class="list-group-item">
          Nuoma <strong>1 d.</strong>
          <span class="float-end"><strong>{{ tool.dailyPrice }}</strong> €</span>
        </li>
      </ul>

      <div class="d-grid gap-2 col-6 mx-auto mt-4">
        <button *ngIf="!isCurrentLoaner" [disabled]="disableRentButton()" [routerLink]="['/tool', tool.id, 'reservation']" class="btn btn-primary" type="button">{{getRentButtonMessage()}}</button>
        <button *ngIf="isCurrentLoaner" (click)="returnTool()" class="btn btn-primary" type="button">Grąžinti</button>
      </div>

        <div *ngIf="!isCurrentLoaner" class="alert alert-danger mt-4" role="alert">
          Šį įrankį šiuo metu yra išsinuomojęs/usi {{tool.currentUser.name}} iki {{rentEndDate | date:'y-MM-dd HH:mm'}}
      </div>
    </div>
  </div>

  <div class="row my-3">
    <h2>Aprašymas / Specifikacijos</h2>
    <p>{{ tool.description }}</p>
  </div>
</div>