<div style="margin-top: 25px;">
  <!--<form action="filterAction" id="filterFormId" [formGroup]="filterForm" #toolForm="ngForm" (ngSubmit)="onSubmit(toolForm)">-->
    <form #filterForm="ngForm" (ngSubmit)="submit(filterForm)" class="col-12 d-grid gap-3 py-3">
      <div class="row mt-5 info-container" style="width: 700px; margin: auto;">
        <div class="col-12">
          <div class="row justify-content-center">
            <input class="col-10" type="text" id="pavadinimas" [(ngModel)]="model.name" name="pavadinimas" placeholder="Ieškoti įrankio"/>
          </div>
  
          <div class="row text-center px-5 gap-2 d-flex justify-content-center">
            <label class="col-4 fw-bold">Kaina už valandą</label>
            <label class="col-4 fw-bold">Kaina už dieną</label>
          </div>
          <div class="row text-center px-5 gap-2 d-flex justify-content-center">
            <label class="col-2" for="minHourlyPrice">Nuo</label>
            <label class="col-2" for="maxHourlyPrice">Iki</label>
            <label class="col-2" for="minDailyPrice">Nuo</label>
            <label class="col-2" for="maxDailyPrice">Iki</label>
          </div>
          <div class="row text-center px-5 gap-2 d-flex justify-content-center">
            <input class="col-2" type="number" id="minHourlyPrice" value="0" [(ngModel)]="model.minHourlyPrice" name="minHourlyPrice"/>
            <input class="col-2" type="number" id="maxHourlyPrice" value="0" [(ngModel)]="model.maxHourlyPrice" name="maxHourlyPrice"/>
            <input class="col-2" type="number" id="minDailyPrice" value="0" [(ngModel)]="model.minDailyPrice" name="minDailyPrice"/>
            <input class="col-2" type="number" id="maxDailyPrice" value="0" [(ngModel)]="model.maxDailyPrice" name="maxDailyPrice"/>
          </div>
  
          <div class="row mt-2 info-container text-center px-5 d-flex justify-content-center">
              <div class="col-9 my-3">
                <mat-select name="type" [(ngModel)]="model.toolType" value="" placeholder="Visi tipai">
                  <mat-option value="">Visi tipai</mat-option>
                  <mat-option *ngFor="let type of ToolTypeConstants.types" [value]="type">{{type}}</mat-option>
                </mat-select>
              </div>
          </div>
          <div class="row text-center d-flex justify-content-center">
            <div class="col-4">
              <button id="filterButton" type="submit" class="w-100 btn btn-success text-center">Filtruoti</button>
            </div>
            <div class="col-4">
              <button id="clearButton" type="reset" value="Reset" (click)="reloadPage"
                    class="w-100 btn btn-success text-center">Išvalyti filtrus</button>
            </div>
          </div>
  
        </div>
      </div>
    </form>
  </div>
<div class="container">
  <div class="row p-4 g-3">
    <div class="col-3 align-items-stretch d-flex" *ngFor="let item of tools">
      <div class="card">
        <div class="img-wrapper text-center">
          <span class="d-inline-block h-100 align-middle"></span>
          <img class="card-img-top"
            src="{{item.imageContent[0] ? item.imageContent[0] : 'https://media.istockphoto.com/vectors/service-tools-icon-isolated-on-white-background-vector-illustration-vector-id1178775481?k=20&m=1178775481&s=612x612&w=0&h=X6ycMeSaLYrnblUvocm0Ytr6hAp5VPzm4wGJDroPGuc='}}"
            alt="https://media.istockphoto.com/vectors/service-tools-icon-isolated-on-white-background-vector-illustration-vector-id1178775481?k=20&m=1178775481&s=612x612&w=0&h=X6ycMeSaLYrnblUvocm0Ytr6hAp5VPzm4wGJDroPGuc=">
        </div>
        <div class="card-body">
          <a [routerLink]="['/tool', item.id]"
             class="card-title h4 d-block pb-2 border-bottom stretched-link">{{ item.name }}</a>
          <span class="text-muted">@{{ item.owner.name }}</span>
          <p class="card-text text-center">{{ item.dailyPrice }} € / dienai</p>
          <p class="card-text text-center">{{ item.hourlyPrice }} € / valandai</p>
        </div>
      </div>
    </div>
  </div>
</div>
