.card-title {
    text-decoration: none;
}

.image-wrapper {
    height: 250px;
}

#mainFormDiv{
    margin-top: 25px;
}

#secondaryFormDiv{
    width: 700px;
    margin: auto;
}

#invalid{
    color: red
}