  .info-container {
    background-color: #F8F9FA;
  }

  .img-wrap {
    position: relative;
  }
  
  .img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
  }

  mat-select {
    background-color: white;
    border: 1px solid;
  }