<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" [routerLink]="'/'">
      <img class="m-1" src="assets/images/logo.png" alt="Logo" width="30" height="30">
      Įrankių nuoma
    </a>

    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!authenticationService.isLogged()">
          <a class="nav-link text-white" [routerLink]="'/register'">Prisijungimas</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authenticationService.isLogged()">
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            {{authenticationService.user.name}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" [routerLink]="'/my-tools/view'">Mano įrankiai</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" (click)="authenticationService.logout()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
