<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/'">
      <img class="m-1"
        src="https://www.freepnglogos.com/uploads/circle-png/painted-circle-transparent-background-28.png" alt=""
        width="30" height="30">
      Įrankių nuoma
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item" *ngIf="!authenticationService.isLogged()">
          <a class="nav-link" [routerLink]="'/register'">Prisijungimas</a>
        </li>
        <li class="nav-item dropdown" *ngIf="authenticationService.isLogged()">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{authenticationService.user.name}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <!-- <li><a class="dropdown-item" href="#">Action</a></li> -->
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="authenticationService.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>